1. What are data structures, and why are they important ?
  - Data structures are ways of organizing and storing data in a computer so that it can be used efficiently. Think of them like different ways to arrange items in a closet , some ways make it easier to find things quickly, while others might take longer. They are important because choosing the right data structure can make a big difference in how fast and efficiently your computer programs run, especially when dealing with large amounts of data.
2.  Explain the difference between mutable and immutable data types with    examples.
  - Mutable (Changeable) Containers:

   These are like containers you can open up and change what's inside without getting a whole new container.
   Example: A shopping bag. You can put things in, take things out, or swap items around, and it's still the same shopping bag.
   In programming: Lists, dictionaries, and sets are like this. You can add, remove, or change items inside them after you've created them.
  - Immutable (Unchangeable) Containers:

   These are like containers that are sealed shut once you put something in. If you want to change what's inside, you have to get a brand new container with the new stuff.
   Example: A sealed jar of jam. Once it's sealed, you can't change the jam inside. If you want different jam, you need a new jar.
   In programming: Strings, tuples, and numbers are like this. Once you create them, you can't change parts of them directly. If you want a modified version, you create a new string, tuple, or number.
   So, the main idea is:
   Mutable: You can change the contents of the container.
   Immutable: You can't change the contents of the container; you have to make a new one with the changes.
3.  What are the main differences between lists and tuples in Python ?
   - The main differences between lists and tuples in Python are:
   Lists are like mutable (changeable) lists, meaning you can add, remove, or change elements after you've created them. Think of it like a shopping list you can keep adding or crossing off items.
   Tuples are like immutable (unchangeable) lists, meaning once you've created them, you cannot change their elements. Think of it like a fixed set of instructions you can't modify.
   Here's a simple analogy:
   List: A grocery bag where you can add or remove items.
   Tuple: A sealed container of pre-selected items you can't change.
   Because lists are mutable, they are typically used when you need a collection of items that might change over time. Tuples are used when you need a fixed collection of items that should not be altered.
4. Describe how dictionaries store data.
   - Dictionaries in Python store data in key-value pairs. Think of it like a real-world dictionary where you look up a word (the key) to find its definition (the value).
   Each item in a dictionary has two parts: a unique key and its corresponding value.
   You use the key to access or retrieve the value associated with it.
   Keys must be unique and immutable (like strings, numbers, or tuples), while values can be anything (even other dictionaries or lists!).
5. Why might you use a set instead of a list in Python ?
   - You might use a set instead of a list in Python when:

  You only care about whether an item exists, not its order or how many times it appears. Sets automatically remove duplicate items, so each item is unique. Lists keep everything, including duplicates, and remember the order.
  You need to quickly check if an item is present. Checking for an item in a set is generally much faster than checking in a list, especially for large collections.
  You want to easily perform mathematical set operations like finding common items between two collections (intersection) or combining two collections without duplicates (union).
6. What is a string in Python, and how is it different from a list ?
   - A string in Python is a sequence of characters, like letters, numbers, and symbols. You can think of it as text. Strings are used to represent words, sentences, or any other textual data.
   The main differences between a string and a list are:
   Type of elements: Strings are made up of characters, while lists can contain any type of data, including numbers, other lists, or even strings.
   Mutability: Strings are immutable, meaning you cannot change individual characters within a string after it's created. If you want a modified string, you have to create a new one. Lists, on the other hand, are mutable, so you can add, remove, or change elements within the list.
   Purpose: Strings are specifically for working with text, while lists are more general-purpose containers for ordered collections of items.
7. How do tuples ensure data integrity in Python ?
   - Tuples ensure data integrity because, once you create a tuple, you cannot  change its contents. It's like writing something in permanent marker, you can't erase or alter what's there. This makes them useful for data that shouldn't be accidentally modified.
8. What is a hash table, and how does it relate to dictionaries in Python ?
   - A hash table, also known as a hash map, is a data structure that stores data in key-value pairs. It uses a hash function to compute an index into an array of buckets or slots, from which the desired value can be found.
   In Python, dictionaries are implemented using hash tables. When you create a dictionary and add key-value pairs, Python uses a hash function to determine where to store the value based on the key. This allows for very fast lookups of values based on their keys, on average.
9. Can lists contain different data types in Python ?
   -  yes, lists in Python can contain different data types! Think of a list   as  a shopping basket where you can put various things like apples (strings),   numbers (integers), and even other small baskets (other lists). You don't have to fill it with only one type of item.
10. Explain why strings are immutable in Python ?
    - Strings are immutable in Python because, once a string is created, you cannot change individual characters within that string. If you want to modify a string, you have to create a new string with the desired changes. This immutability has some advantages, such as making strings safe to use as keys in dictionaries and improving performance in certain operations.
11. What advantages do dictionaries offer over lists for certain tasks ?
    - Dictionaries offer several advantages over lists for certain tasks:
Fast Lookups: Dictionaries use keys to access values, which is generally much faster than searching for an item by its position in a list, especially in large collections.
Descriptive Access: Using keys provides a more descriptive way to access data than using numerical indices as you do with lists. For example, person['name'] is more understandable than person[0].
No Specific Order: Dictionaries do not maintain a specific order of elements, which can be beneficial when the order doesn't matter and you prioritize fast lookups. Lists maintain insertion order.
Unique Keys: Dictionary keys are unique, preventing duplicate entries, which is useful when you need to store distinct items with associated values. Lists can contain duplicate items.
12. Describe a scenario where using a tuple would be preferable over a list.
    - Imagine you have a recipe with ingredients that must be used in a specific order and cannot be changed once you start. That fixed list of ingredients is like a tuple. You use a tuple when you have a collection of things that should never change.
  Now imagine you have a shopping list for groceries. You can add items, remove items, or change your mind about what you want to buy. That changeable list is like a list. You use a list when you have a collection of things that you might need to change or add to later.
13. How do sets handle duplicate values in Python ?
    - Sets in Python are designed to automatically handle duplicate values by only storing unique elements. When you add elements to a set, any duplicates are simply ignored. So, if you try to add the same value multiple times, it will only appear once in the set. This makes sets useful for quickly removing duplicates from a collection of data.
14. How does the “in” keyword work differently for lists and dictionaries?
    - The in keyword is used to check for membership in both lists and dictionaries, but it works differently:
  For lists: in checks if an element exists within the list's values. It iterates through the list to see if it finds a matching element.
  For dictionaries: in checks if a key exists in the dictionary. It does not check the values.
15. Can you modify the elements of a tuple? Explain why or why not.
    - No, you cannot modify the elements of a tuple after it has been created. This is because tuples are immutable in Python.
16. What is a nested dictionary, and give an example of its use case?
    - A nested dictionary is a dictionary where the values are themselves dictionaries. This allows you to create more complex data structures that represent hierarchical or structured data.

   Use Case Example:
   A common use case for nested dictionaries is representing data like a contact list or a database record where each entry has multiple related pieces of information.
   For example, you could have a dictionary where each key is a person's name, and the value associated with that key is another dictionary containing their contact details (phone number, email, address, etc.).
17. Describe the time complexity of accessing elements in a dictionary.
    - Accessing elements in a dictionary in Python has an average time complexity of O(1). This means that on average, the time it takes to retrieve a value using its key is constant, regardless of how many items are in the dictionary. This is because dictionaries are implemented using hash tables, which allow for very fast lookups. However, in the worst-case scenario (due to hash collisions), the time complexity can degrade to O(n), where n is the number of items in the dictionary. But this worst-case scenario is rare in practice with good hash functions.
18. In what situations are lists preferred over dictionaries?
    - You would prefer a list over a dictionary when:
      You care about the order of elements.
      You need to store duplicate items.
      You need to access data by numerical index rather than by a key.
19. Why are dictionaries considered unordered, and how does that affect  data   retrieval?
    -  Dictionaries are considered unordered because, in earlier versions of Python, they did not guarantee to maintain the order in which items were inserted. This meant that when you iterated over a dictionary, the order of the key-value pairs might not be the same as the order in which you added them.
   However, starting with Python 3.7, dictionaries do maintain insertion order. So, while historically they were unordered, in modern Python, you can rely on them preserving the order of insertion.
   Even when they were unordered, this characteristic primarily affected how you would iterate through the dictionary's items. Accessing a value by its key was still very efficient because it relied on hashing, not on the position of the item within the dictionary.
20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - The difference between a list and a dictionary in terms of data retrieval is how you access the data:
  Lists: You retrieve data by its position or index in the list. For example, you access the first item using index 0, the second using index 1, and so on.
   Dictionaries: You retrieve data by its unique key. You provide the key associated with the value you want to retrieve.
   Think of a list like a numbered list where you find something by its number, and a dictionary like a phone book where you find someone's number by their name.

PRACTICAL QUESTIONS

1. Write a code to create a string with your name and print it.

In [2]:
name = "Austin"
print(name)

Austin

2. Write a code to find the length of the string "Hello World".

In [7]:
string = "Hello World"
length = len(string)
print(length)

11

3. Write a code to slice the first 3 characters from the string "Python  Programming".

In [8]:
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [10]:
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [11]:
string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

6.  Write a code to create a list with numbers 1 to 5 and print it.

In [12]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [13]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [14]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [15]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [16]:
numbers = [10, 20, 30, 40, 50]
reversed_numbers = numbers[::-1]
print(reversed_numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [17]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [20]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [21]:
numbers = (10, 20, 5, 15)
minimum_number = min(numbers)
print(minimum_number)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [22]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [23]:
fruits = ('apple', 'banana', 'orange')
if 'kiwi' in fruits:
  print("Kiwi is in the tuple.")
else:
  print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [24]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [25]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [26]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [27]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print(union_set)

{1, 2, 3, 4, 5}

20.  Write a code to find the intersection of two sets. {1, 2, 3} and {2, 3, 4}

In [28]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1 & set2
print(intersection_set)

{2, 3}

21.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [29]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1 & set2
print(intersection_set)

{2, 3}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [30]:
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [31]:
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [32]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [33]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
  print("The key 'city' exists in the dictionary.")
else:
  print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [34]:
my_list = [1, 2, 3, 'a', 'b']
my_tuple = (10, 20, 30, 'x', 'y')
my_dict = {'name': 'Alice', 'age': 30, 'city': 'Paris'}

print("My List:", my_list)
print("My Tuple:", my_tuple)
print("My Dictionary:", my_dict)

My List: [1, 2, 3, 'a', 'b']
My Tuple: (10, 20, 30, 'x', 'y')
My Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [35]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print(random_numbers)

[3, 7, 22, 58, 58]

28.  Write a code to create a list with strings and print the element at the third index.

In [36]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
third_element = string_list[3]
print(third_element)

date

29.  Write a code to combine two dictionaries into one and print the result.

In [37]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [38]:
string_list = ["apple", "banana", "cherry", "apple", "date"]
string_set = set(string_list)
print(string_set)

{'date', 'cherry', 'apple', 'banana'}